
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,blue,green,purple);
    padding: 10px 20px;
    color: #fff;
  }
  
  .logo {
    margin: 0;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .button {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    color: #fcb045;
    text-decoration: none;
    padding: 5px 10px;
    background: radial-gradient(circle,#fc468b,blue);
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  .button:hover {
    background-color: #777;
  }
  